<a href="https://colab.research.google.com/github/SoA-Lee/Moon-Study/blob/master/_pandas_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
print(pd.__version__)

1.1.5

In [ ]:
data1=['a','b','c','d','e']
print(data1)
print("자료형: ", type(data1))

['a', 'b', 'c', 'd', 'e']
자료형:  <class 'list'>

In [ ]:
sr1=pd.Series(data1)
print("자료형: ", type(sr1))

자료형:  <class 'pandas.core.series.Series'>

In [ ]:
print(sr1)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [ ]:
sr1.loc[0]

'a'

In [ ]:
sr1.loc[1:3]

1    b
2    c
3    d
dtype: object

In [ ]:
data2=(1,2,3.14,100,-10)
sr2=pd.Series(data2)
print(sr2)

0      1.00
1      2.00
2      3.14
3    100.00
4    -10.00
dtype: float64

In [ ]:
dict_data={'c0':sr1, 'c1':sr2}
df1=pd.DataFrame(dict_data)
df1

  c0      c1
0  a    1.00
1  b    2.00
2  c    3.14
3  d  100.00
4  e  -10.00

In [ ]:
type(df1)

pandas.core.frame.DataFrame

In [ ]:
df1.columns=['string','number']
df1

  string  number
0      a    1.00
1      b    2.00
2      c    3.14
3      d  100.00
4      e  -10.00